@import "reset.css";

@import "../webfonts/ss-social.css";

@import "../webfonts/ss-standard.css";

@import "../webfonts/Chunkfive.css";
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*******************************/
/*******************************/
/* Site: sarahbarrow.com */
/* Author: Sarah Barrow Web Design */
/* Created with LESS (sarahbarrow.com/css/style.less) */
/* See room for improvement? Let me know! */
/* setting REM unit */
html {
  font-size: 62.5%;
}
.text {
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.link {
  color: #ea1e32;
  text-decoration: none;
}
/*******************************/
/* BASE STYLES*/
/*******************************/
body {
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #fff;
}
h1 {
  font-family: 'ChunkFiveRegular', serif;
  font-size: 3.6rem;
  line-height: 4.8rem;
  padding: 2rem 0 .4rem 0;
  color: #ea1e32;
  text-align: center;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding: 1.8rem 0 .6rem 0;
  color: #579eab;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 2rem 0 .4rem 0;
  color: #579eab;
}
a {
  color: #ea1e32;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #579eab;
}
/*******************************/
/* HEADER */
/*******************************/
header {
  width: 100%;
  height: 30rem;
  background: #8ad1de;
  background: -moz-linear-gradient(top, #8ad1de 0%, #acf3ff 50%, #8ad1de 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ad1de), color-stop(50%, #acf3ff), color-stop(100%, #8ad1de));
  /* Chrome, Safari4+ */

  background: -webkit-linear-gradient(top, #8ad1de 0%, #acf3ff 50%, #8ad1de 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8ad1de 0%, #acf3ff 50%, #8ad1de 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8ad1de 0%, #acf3ff 50%, #8ad1de 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #8ad1de 0%, #acf3ff 50%, #8ad1de 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color', endColorstr='@color', GradientType=0);
  /* IE6-9 */

}
header div {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  text-align: center;
  font-family: 'ChunkFiveRegular', serif;
  color: #ea1e32;
}
header div a,
header div a:hover,
header div a:visited {
  text-decoration: none;
  font-size: 10rem;
  line-height: 30rem;
  letter-spacing: -0.2rem;
  padding: 5.5rem 4rem 4.5rem;
  color: #ea1e32;
  background: #fff;
  border-radius: 50%;
  border: 1rem solid #ea1e32;
}
header #hide {
  display: none;
}
/*******************************/
/* NAVIGATION */
/*******************************/
nav {
  clear: both;
  height: 4.8rem;
  background: #555555;
  font-weight: 700;
  box-shadow: inset 0.3rem 0px 3rem #444444, inset -0.3rem 0px 3rem #444444;
}
nav ul li {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
nav ul li a {
  letter-spacing: .05rem;
  text-align: center;
  padding: 1rem 0rem 1.4rem;
  color: #fff;
  display: block;
  border-radius: 1rem;
}
nav ul li a:visited {
  color: #fff;
}
nav ul li a#active_item {
  color: #ea1e32;
  /* prepend arrow from symbolset? */

}
nav ul li a:hover {
  text-decoration: none;
  color: #ea1e32;
}
/*******************************/
/* ARTICLE (USED AS WRAPPER ON ALL PAGES */
/*******************************/
article {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
  padding: 2.4rem 0rem;
}
/*******************************/
/* SECTION (USED IN PLACE OF DIVS FOR DISCRETE CONTENT BLOCKS */
/*******************************/
section {
  padding: 2.4rem 0;
}
section#home_nav h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #579eab;
}
section#home_nav div {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  text-align: center;
}
section#flickr {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
section#instagram {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
section.portfolio {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
}
section.portfolio:before,
section.portfolio:after {
  content: "";
  display: table;
}
section.portfolio:after {
  clear: both;
}
section.portfolio img {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  padding-top: 1.6rem;
}
section.portfolio div {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
section.service {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  padding: 3.4rem 0rem 1rem;
}
section.service div {
  float: left;
  text-align: center;
  color: #8ad1de;
  font-size: 8rem;
  padding: 4rem 2rem 0rem 0rem;
  width: 12rem;
}
section.service div h2 {
  font-size: 2.4rem;
  line-height: 6rem;
  color: #8ad1de;
}
/*******************************/
/* FOOTER */
/*******************************/
footer {
  clear: both;
  height: 12rem;
  background-color: #555555;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4.8rem 0;
  color: #fff;
  box-shadow: inset 0.3rem 0px 3rem #444444;
}
footer div#copyright {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
}
footer div#contact {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 1.0416666666666665%;
  text-align: center;
}
footer div#contact a {
  color: #fff;
  display: block;
  padding: 2.4rem 0 1.2rem 0;
  background: #aeb627;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 1px #e1e95a, inset -1px -1px 1px #8c9405, 3px 3px 3px #444444;
}
footer div#contact a:hover {
  text-decoration: none;
  background: #aeb627;
  background: -moz-linear-gradient(top, #aeb627 0%, #bfc738 50%, #aeb627 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb627), color-stop(50%, #bfc738), color-stop(100%, #aeb627));
  /* Chrome, Safari4+ */

  background: -webkit-linear-gradient(top, #aeb627 0%, #bfc738 50%, #aeb627 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #aeb627 0%, #bfc738 50%, #aeb627 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #aeb627 0%, #bfc738 50%, #aeb627 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #aeb627 0%, #bfc738 50%, #aeb627 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color', endColorstr='@color', GradientType=0);
  /* IE6-9 */

  text-shadow: 1px 1px 1px #8c9405;
}
footer div#contact a #button_large {
  font-size: 2.4rem;
  font-weight: 700;
}
footer div#contact a #button_small {
  line-height: 2.4rem;
}
footer div#social {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  text-align: center;
}
footer div#social ul {
  float: right;
}
footer div#social ul li {
  float: right;
  padding: 0rem 1rem;
}
footer div#social ul li div {
  font-size: 2.4rem;
  line-height: 2.4rem;
}
footer div#social ul li a {
  color: #fff;
}
footer div#social ul li a:visited {
  color: #ffffff;
}
footer div#social ul li a:hover {
  color: #fb2f43;
  text-decoration: none;
}
/*******************************/
/* OTHER */
/*******************************/
aside {
  clear: both;
  text-align: center;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
}
aside h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 2rem 0 .4rem 0;
}
aside p {
  font-size: 1.3rem;
}
