/* Huge thanks to the HTML5 Boilerplate resets and cross-browser solutions
 * Primary styling by Sarah Barrow LLC, see line 220
 */

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #004a80; color: #fff; text-shadow: none; }
::selection { background: #004a80; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }





/* ==|== primary styles =====================================================
   Author: Sarah Barrow LLC
   Last updated:  May 21, 2012
   ========================================================================== */


body {	background:  url(img/menu1.png) top left no-repeat #d7d7d7;
      	color: #021733;
		font-size: medium;
		font-family: 'Open Sans', sans-serif; 
		font-weight: 400; }


p { padding: .75em 0em; }


a {	color: #f03300;
   	text-decoration: underline; }


a:hover { text-decoration: none; 
		  color: #f03300;}


a:visited { text-decoration: underline; 
			color: #f03300; }


strong { font-weight: 700; }

em { font-weight: 400;
	 font-style: italic; 
	 font-size: .8em;}




/* Styling for main content areas ==============================
   =============================================================  */

section { margin: 2em 3em 2em 330px; 
		  background: #ffffff;
		  -webkit-border-radius: 20px;
		  -moz-border-radius: 20px;
		  border-radius: 20px; 
		  min-width: 840px;
		  padding: 1em 2em 3em 2em; }

h1, h2, h3 { font-family: 'Nunito', sans-serif;
		 font-weight: 400; 
		 margin: 20px 0px; 
		 line-height: normal; 
		  color: #f03300;}
		 
h1 { font-size: 2.5em; }
	 	 
h2 { font-size: 1.5em; }
	
h3 { font-size: 1em; 
	 color: #03295d;
	 text-transform: uppercase;}
			
article {text-align: center; }

#profile {float: left;
		  padding-right: 20px;}
		  
.main li {padding: 2px 0px; }

.main ul {padding-bottom: 10px;}

aside {float: right;
		width: 300px;
		margin-left: 1.5em;
		margin-bottom: .8em;
		text-align: center;}
		
aside img {border: 1px solid #d7d7d7;}
		 





/* Styling for header + main navigation ==========================
   ===============================================================  */

#mainnav {padding-top: 2em;
		  padding-bottom: 2em;
		  }
	
#navigation {background-color: #d7d7d7;
			 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); }

#navigation {background-color: #d7d7d7;
			 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); }	
	
		  
#navigation { float: left; 
			  width: 250px;
			  margin: 0px 20px 20px 20px;
			  background-color: rgba(215, 215, 215, .75); 
			  -webkit-border-radius: 20px;
			  -moz-border-radius: 20px;
			  border-radius: 20px; }
			  


#navigation h1 { font-size: 1.5em; 
				 padding: 12px 0px 0px 10px;
				 line-height: 1em;}
				 
#mainnav ul, li { padding: 20px 10px; }


#logo { float: left;
	    padding: 10px 20px 10px 10px; }
		
#navigation ul {padding-top: 20px; }

#navigation a { text-decoration: none; 
				color: #021733;}


#navigation a:hover { text-decoration: none;
					  color:#f03300; }

#navigation h1 a { text-decoration: none; 
				   color:#f03300; }


#navigation h1 a:hover { text-decoration: none; 
						 color:#f03300; }
						 

#active a {color: #f03300;}






/* Styling for footer ============================================
   =============================================================== */

footer { margin: -6em 2em 4em 2em; 
		 font-size: small;
		 color: #021733; 
		 width: 250px;}






/* Styling for homepage buttons and rollover ===================================
   =============================================================== */



.button {width: 20%;
		 display: inline-block;
		 vertical-align: top;
		 margin: 2em 1.25em;}
		 

.button h2 {font-size: 1.33em;
			line-height: 1em;
			padding: 1em 0em 0em 0em;
			margin: 0em;
			color: #03295d;}
			 
		 	
.button p {font-size:.8em;
		   padding: 0em 0em 0em 0em;}


.button a, .button a:hover, .button a:visited {text-decoration: none;
												display: block;}


article.button:hover h2 {color: #f03300;}


article#web-button {background:url(img/monitor-red.png) top no-repeat;
					}


article#marketing-button {background:url(img/piechart-red.png) top no-repeat;}



article#photo-button {background:url(img/image-red.png) top no-repeat;}



 article#about-button {background:url(img/quote-red.png) top no-repeat;}



article#web-button:hover img, article#marketing-button:hover img, article#photo-button:hover img, article#about-button:hover img  {visibility: hidden;}





/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */


/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}